body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
#container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#bleh {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  /* background-color: black; */
  background-color: transparent;
  border-radius: 50%;
}

ion-icon {
  width: 20vh;
  height: 20vh;
  color: hsl(192, 88%, 50%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 100;
  clip-path: circle(50%);
}

ion-icon:hover {
  color: hsl(192, 100%, 75%);
}

ion-icon:active {
  color: hsl(192, 86%, 90%);
}
